# Cache do PyInstaller
build/
dist/
*.spec

# Armazenamento local de testes
.dev_storage/

# Arquivos compactados de distribuição
*.rar
*.zip

# Cache do Python
__pycache__/
*.pyc

# Pasta de materiais original (desenvolvimento) - a pasta de produção é app/materials/
materials/
